.jaim {
	color: orange;
}

h1 {
	font-size: 50px;
}

body {
	font-family: 'poppins';
	margin: 0;
}

.top-banner {
	display: flex;
}

.half {
	width: 50%;
	padding-left: 5%;
}

.half img {
	width: 80%;
}

.link {
	padding: 10px 40px;
	background-image: linear-gradient(salmon, pink);
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	color: azure;
}

.paragraph {
	color: gray;
}

.top-banner {
	background-image: url(images/top-banner.png);
	background-repeat: no-repeat;
}


.dream-big {
	display: flex;
	background-image:url(images/dream-bg.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-top: 150px;
}

.dream-big img {
	width: 80%;
}

.flex{
	display: flex;
}

#full{
	box-shadow:0 0 30px rgba(0, 0, 0, 0.4);
	margin: 40px;
	height: 400px;
	border-left: 7px solid blue;
}

#gamer{
	box-shadow:0 0 30px rgba(0, 0, 0, 0.4);
	margin: 40px;
	height: 400px;
	border-left: 7px solid tomato;
}

.experience{
	padding-top: 120px;
}

.exp{
	margin-left: 40px;
}

.footer{
	padding-top: 120px;
	padding-bottom: 15px;
}